{% extends "layout.html" %}
{% block HomeColor %}
    <text-secondary>
{% endblock %}}
{% block body1 %}
    <div class="container"> 
        <div class="row align-items-center">
            <div class="col">
                <h1 class="text-center">Welcome to my webpage!</h1> 
            </div>
    </div>
    
        <div class="row h-100 work-in-progress">
            <div class="col-sm-12 my-auto">
                <h2>Work under Progress</h1>
            </div>   
        </div>

    
{% endblock %}
